html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
  
  code {font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;}
  
#Main{
    scroll-behavior: smooth;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* top: 0px;bottom: 0px;right: 0px;left: 0px; */
    width: 100%;
    height: 100%;
    background:linear-gradient(#017BC2 0 1%, white 50% 100%);
    /* background-color: #017BC2; */
}

#Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 0%;
    height: 175px;
    top: 0px;
    position: fixed;
    transition: 0.5s ease;
    overflow: hidden;
    z-index: 1;
    
}
#Header:hover{
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}
#HeaderAlt{
    width: 100%;
    height: 275px;
    position: absolute;
    background:linear-gradient(white 0 30%, #347dbd6e 70% 100%);
    top: 0;
}

#RTEimg{
    width: 200px;
    height: 200px;
    background-image: url("./img/RTE.png");
    background-size: contain;
    position: relative;
    filter: drop-shadow(0px 0px 20px white);
}
#Title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}
#Home{
    margin-left: 50px;

}
#Ana{
    display: none;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 120vh;
}
#AnaIMG{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
#AnaBack{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}
#AnaIMGSvg{
    width: 70%;
    height: 70%;
}
#Galerim{
    text-decoration: none;

}
#Baskans{
    text-decoration: none;

}
a.no-underline {
    text-decoration: none!important;
  }
#Btitle{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    animation: rightani 0.5s both ease-in;
}
@keyframes rightani {
    0%{
        transform: translateX(1000px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}
#BaskanContent{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 80vh;
    color: black;
    font-size: 16px;
    font-family: 'verdana';
    font-weight: bold;
    bottom: 0;
    position: relative;
    animation: leftani 0.5s both ease-in;
}
@keyframes leftani {
    0%{
        transform: translateX(-500px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}
.TT{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    background-color: #347dbd2c;
    position: relative;
    font-weight: bold;
    color: white;

    transition: 0.2s ease;
}
.TT:hover{
    color: #F89A20;
    box-shadow: 0px 0px 5px 1px white;
    scale: 1.05;
    z-index: 1;
}
#TitleRef{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
}
#TitleRefAlt{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
}
.Face{
    cursor: pointer;
    display: flex;
    font-size: 30px;
    z-index: 100;
    color: white;
    transition: 0.4s ease;
}
.Face:hover{
    scale: 1.15;
}
#Haydiimg{
    width: 175px;
    height: 175px;
    border-radius: 100%;
    background-image: url("./img/haydi.jpg");
    background-size: contain;
    position: relative;
    right: 100px;
    filter: drop-shadow(0px 0px 20px white);
}


#BGM{
    width: 200px;
    height: 200px;
    transition: 0.7s ease;
    z-index: 2;
}
#BG{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: #017bc2;

    /* animation: TopLeft 1s ease both ; */



    width: 200px;
    height: 200px;
    border-radius: 100%;
}
/* @keyframes TopLeft {
    100%{top: 0px; left: 0px}
    
} */
#Logo{
    z-index: 1;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: url("./img/MainLo.png");
    background-size: contain;
    filter: brightness(100%) ;
    transition: .5s ease;
    box-shadow: 0px 4px 5px 5px black;

}
#Logo:hover {
    filter: brightness(200%) drop-shadow(0px 0px 20px white);
}
#TextM{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: 1s ease;
    user-select: none;


}
#Text{
    animation: Down 1s both ease-out;
}
@keyframes Down {
    0%{
        transform: rotateZ(122deg);
        opacity: 0;
    }
    100%{
        transform: rotateZ(-122deg);
        opacity: 1;
    }
}

#Text2{
    display: none;
    transform: rotateZ(-75deg);
    animation: Down2 1s both ease-out;
}
@keyframes Down2 {
    0%{
        transform: rotateZ(122deg);
        opacity: 0;
    }
    100%{
        transform: rotateZ(-75deg);
        opacity: 1;
    }
}
#Gallery{
    position: relative;
    display: none;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    bottom: 0;
}
#slider{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1000px;
    height: 100vh;
    opacity: 1;
    transition: 1s ease;
    border-radius: 105px ;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    /* margin-top: 175px; */
  }
  
  .image {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    user-select: none;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #00000077;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #00000077;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.03);
  }


  #slideText{
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: calc(100% - 8rem);
    color: #fff;
    font-size: 35px;
    font-weight: 900;
    line-height: 1.17;
    text-align: center;
    text-shadow: 0 0 43.1px rgba(0,0,0,.38);
    text-transform: uppercase;
    padding: 1rem 2rem;
    margin: 0 auto;
    background: rgba(0,0,0,.4);
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: opacity 1s,-webkit-transform 1s;
    transition: opacity 1s,-webkit-transform 1s;
    transition: transform 1s,opacity 1s;
    transition: transform 1s,opacity 1s,-webkit-transform 1s;
    z-index: 12;
    animation: slideTextAni 1s both;
    animation-delay: 0.5s;
  }
  @keyframes slideTextAni {
    0%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 1;
    }
  }